<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Django</title>
  </head>
  <body>
    <h1>Message board homepage</h1>
    <ul>
      {% for post in all_posts_list %}
      <li>{{ post }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
